/************** Background  RED Color ***********************/
.bg-red-1 {background-color: #ffe6e6;color: #424448!important; }
.bg-red-2 {background-color: #ffcccc;color: #424448!important; }
.bg-red-3 {background-color: #ffb3b3;color: #424448!important; }
.bg-red-4 {background-color: #ff9999;color: #fff!important; }
.bg-red-5 {background-color: #ff8080;color: #fff!important; }
.bg-red-6 {background-color: #ff6666;color: #fff!important; }
.bg-red-7 {background-color: #ff4d4d;color: #fff!important; }
.bg-red-8 {background-color: #ff3333;color: #fff!important; }
.bg-red-9 {background-color: #ff1a1a;color: #fff!important; }
.bg-red-10 {background-color: #ff0000;color: #fff!important; }
.bg-red-11 {background-color: #e60000;color: #fff!important; }
.bg-red-12 {background-color: #f44336;color: #fff!important; }
.bg-red-13 {background-color: #cc0000;color: #fff!important; }
.bg-red-14 {background-color: #b30000;color: #fff!important; }
.bg-red-15 {background-color: #990000;color: #fff!important; }
.bg-red-16 {background-color: #800000;color: #fff!important; }
.bg-red-17 {background-color: #660000;color: #fff!important; }
.bg-red-18 {background-color: #4d0000;color: #fff!important; }
.bg-red-19 {background-color: #330000;color: #fff!important; }

/************** Background  GREY Color ***********************/
.bg-grey-1 {background-color: #f2f2f2;color: #424448!important; }
.bg-grey-2 {background-color: #e6e6e6;color: #424448!important; }
.bg-grey-3 {background-color: #d9d9d9;color: #424448!important; }
.bg-grey-4 {background-color: #cccccc;color: #424448!important; }
.bg-grey-5 {background-color: #bfbfbf;color: #424448!important; }
.bg-grey-6 {background-color: #b3b3b3;color: #424448!important; }
.bg-grey-7 {background-color: #a6a6a6;color: #fff!important; }
.bg-grey-8 {background-color: #999999;color: #fff!important; }
.bg-grey-9 {background-color: #8c8c8c;color: #fff!important; }
.bg-grey-10 {background-color: #808080;color: #fff!important; }
.bg-grey-11 {background-color: #737373;color: #fff!important; }
.bg-grey-12 {background-color: #595959;color: #fff!important; }
.bg-grey-13 {background-color: #4d4d4d;color: #fff!important; }
.bg-grey-14 {background-color: #404040;color: #fff!important; }
.bg-grey-15 {background-color: #333333;color: #fff!important; }
.bg-grey-16 {background-color: #262626;color: #fff!important; }
.bg-grey-17 {background-color: #1a1a1a;color: #fff!important; }
.bg-grey-18 {background-color: #0d0d0d;color: #fff!important; }
.bg-grey-19 {background-color: #000000;color: #fff!important; }
/************** Background  LIGHT GREY Color ***********************/
.bg-light-grey-1 {background-color: #f0f3f5;color: #424448!important; }
.bg-light-grey-2 {background-color: #e1e7ea;color: #424448!important; }
.bg-light-grey-3 {background-color: #d2dbe0;color: #424448!important; }
.bg-light-grey-4 {background-color: #c3cfd5;color: #424448!important; }
.bg-light-grey-5 {background-color: #b4c3cb;color: #424448!important; }
.bg-light-grey-6 {background-color: #a5b7c0;color: #fff!important; }
.bg-light-grey-7 {background-color: #96abb6;color: #fff!important; }
.bg-light-grey-8 {background-color: #879fab;color: #fff!important; }
.bg-light-grey-9 {background-color: #7893a1;color: #fff!important; }
.bg-light-grey-10 {background-color: #698796;color: #fff!important; }
.bg-light-grey-11 {background-color: #607d8b;color: #fff!important; }
.bg-light-grey-12 {background-color: #5e7a87;color: #fff!important; }
.bg-light-grey-13 {background-color: #546c78;color: #fff!important; }
.bg-light-grey-14 {background-color: #495f69;color: #fff!important; }
.bg-light-grey-15 {background-color: #3f515a;color: #fff!important; }
.bg-light-grey-16 {background-color: #34444b;color: #fff!important; }
.bg-light-grey-17 {background-color: #2a363c;color: #fff!important; }
.bg-light-grey-18 {background-color: #1f292d;color: #fff!important; }
.bg-light-grey-19 {background-color: #151b1e;color: #fff!important; }


/************** Background  blue Color ***********************/
.bg-blue-1 {background-color: #e7f3fe;color: #424448!important; }
.bg-blue-2 {background-color: #cfe8fc;color: #424448!important; }
.bg-blue-3 {background-color: #b6dcfb;color: #424448!important; }
.bg-blue-4 {background-color: #9ed1fa;color: #fff!important; }
.bg-blue-5 {background-color: #86c5f9;color: #fff!important; }
.bg-blue-6 {background-color: #6eb9f7;color: #fff!important; }
.bg-blue-7 {background-color: #55aef6;color: #fff!important; }
.bg-blue-8 {background-color: #3da2f5;color: #fff!important; }
.bg-blue-9 {background-color: #2597f4;color: #fff!important; }
.bg-blue-10 {background-color: #2196f3;color: #fff!important; }
.bg-blue-11 {background-color: #0d8bf2;color: #fff!important; }
.bg-blue-12 {background-color: #0b7dda;color: #fff!important; }
.bg-blue-13 {background-color: #0a6fc2;color: #fff!important; }
.bg-blue-14 {background-color: #0961aa;color: #fff!important; }
.bg-blue-15 {background-color: #085391;color: #fff!important; }
.bg-blue-16 {background-color: #064579;color: #fff!important; }
.bg-blue-17 {background-color: #053861;color: #fff!important; }
.bg-blue-18 {background-color: #042a49;color: #fff!important; }
.bg-blue-19 {background-color: #031c30;color: #fff!important; }

/************** Background  Orange Color ***********************/
.bg-orange-1 {background-color: #ffebe6;color: #424448!important; }
.bg-orange-2 {background-color: #ffd8cc;color: #424448!important; }
.bg-orange-3 {background-color: #ffc4b3;color: #424448!important; }
.bg-orange-4 {background-color: #ffb199;color: #fff!important; }
.bg-orange-5 {background-color: #ff9d80;color: #fff!important; }
.bg-orange-6 {background-color: #ff8a66;color: #fff!important; }
.bg-orange-7 {background-color: #ff764d;color: #fff!important; }
.bg-orange-8 {background-color: #ff6333;color: #fff!important; }
.bg-orange-9 {background-color: #ff5722;color: #fff!important; }
.bg-orange-10 {background-color: #ff4f1a;color: #fff!important; }
.bg-orange-11 {background-color: #ff3c00;color: #fff!important; }
.bg-orange-12 {background-color: #e63600;color: #fff!important; }
.bg-orange-13 {background-color: #cc3000;color: #fff!important; }
.bg-orange-14 {background-color: #b32a00;color: #fff!important; }
.bg-orange-15 {background-color: #992400;color: #fff!important; }
.bg-orange-16 {background-color: #801e00;color: #fff!important; }
.bg-orange-17 {background-color: #661800;color: #fff!important; }
.bg-orange-18 {background-color: #4d1200;color: #fff!important; }
.bg-orange-19 {background-color: #330c00;color: #fff!important; }

/************** Background  AMBER Color ***********************/
.bg-amber-1 {background-color: #fff9e6;color: #424448!important; }
.bg-amber-2 {background-color: #fff2cc;color: #424448!important; }
.bg-amber-3 {background-color: #ffecb3;color: #424448!important; }
.bg-amber-4 {background-color: #ffe699;color: #424448!important; }
.bg-amber-5 {background-color: #ffdf80;color: #424448!important; }
.bg-amber-6 {background-color: #ffd966;color: #424448!important; }
.bg-amber-7 {background-color: #ffd24d;color: #424448!important; }
.bg-amber-8 {background-color: #ffcc33;color: #fff!important; }
.bg-amber-9 {background-color: #ffc61a;color: #fff!important; }
.bg-amber-10 {background-color: #ffc107;color: #fff!important; }
.bg-amber-11 {background-color: #ffbf00;color: #fff!important; }
.bg-amber-12 {background-color: #e6ac00;color: #fff!important; }
.bg-amber-13 {background-color: #cc9900;color: #fff!important; }
.bg-amber-14 {background-color: #b38600;color: #fff!important; }
.bg-amber-15 {background-color: #997300;color: #fff!important; }
.bg-amber-16 {background-color: #806000;color: #fff!important; }
.bg-amber-17 {background-color: #664d00;color: #fff!important; }
.bg-amber-18 {background-color: #4d3900;color: #fff!important; }
.bg-amber-19 {background-color: #332600;color: #fff!important; }

/************** Background  GREEN Color ***********************/
.bg-green-1 {background-color: #edf7ee;color: #424448!important; }
.bg-green-2 {background-color: #dcefdc;color: #424448!important; }
.bg-green-3 {background-color: #cae8cb;color: #424448!important; }
.bg-green-4 {background-color: #b8e0b9;color: #424448!important; }
.bg-green-5 {background-color: #a6d8a8;color: #424448!important; }
.bg-green-6 {background-color: #95d097;color: #424448!important; }
.bg-green-7 {background-color: #a6d8a8;color: #424448!important; }
.bg-green-8 {background-color: #83c985;color: #fff!important; }
.bg-green-9 {background-color: #71c174;color: #fff!important; }
.bg-green-10 {background-color: #5fb962;color: #fff!important; }
.bg-green-11 {background-color: #4eb151;color: #fff!important; }
.bg-green-12 {background-color: #4caf50;color: #fff!important; }
.bg-green-13 {background-color: #46a049;color: #fff!important; }
.bg-green-14 {background-color: #3e8e41;color: #fff!important; }
.bg-green-15 {background-color: #367c39;color: #fff!important; }
.bg-green-16 {background-color: #2f6a31;color: #fff!important; }
.bg-green-17 {background-color: #275929;color: #fff!important; }
.bg-green-18 {background-color: #1f4720;color: #fff!important; }
.bg-green-19 {background-color: #173518;color: #fff!important; }


/************** Background  RED Color ***********************/
.panel-default > .bg-red-1 {background-color: #ffe6e6;color: #424448!important; }
.panel-default > .bg-red-2 {background-color: #ffcccc;color: #424448!important; }
.panel-default > .bg-red-3 {background-color: #ffb3b3;color: #424448!important; }
.panel-default > .bg-red-4 {background-color: #ff9999;color: #fff!important; }
.panel-default > .bg-red-5 {background-color: #ff8080;color: #fff!important; }
.panel-default > .bg-red-6 {background-color: #ff6666;color: #fff!important; }
.panel-default > .bg-red-7 {background-color: #ff4d4d;color: #fff!important; }
.panel-default > .bg-red-8 {background-color: #ff3333;color: #fff!important; }
.panel-default > .bg-red-9 {background-color: #ff1a1a;color: #fff!important; }
.panel-default > .bg-red-10 {background-color: #ff0000;color: #fff!important; }
.panel-default > .bg-red-11 {background-color: #e60000;color: #fff!important; }
.panel-default > .bg-red-12 {background-color: #f44336;color: #fff!important; }
.panel-default > .bg-red-13 {background-color: #cc0000;color: #fff!important; }
.panel-default > .bg-red-14 {background-color: #b30000;color: #fff!important; }
.panel-default > .bg-red-15 {background-color: #990000;color: #fff!important; }
.panel-default > .bg-red-16 {background-color: #800000;color: #fff!important; }
.panel-default > .bg-red-17 {background-color: #660000;color: #fff!important; }
.panel-default > .bg-red-18 {background-color: #4d0000;color: #fff!important; }
.panel-default > .bg-red-19 {background-color: #330000;color: #fff!important; }

/************** Background  GREY Color ***********************/
.panel-default > .bg-grey-1 {background-color: #f2f2f2;color: #424448!important; }
.panel-default > .bg-grey-2 {background-color: #e6e6e6;color: #424448!important; }
.panel-default > .bg-grey-3 {background-color: #d9d9d9;color: #424448!important; }
.panel-default > .bg-grey-4 {background-color: #cccccc;color: #424448!important; }
.panel-default > .bg-grey-5 {background-color: #bfbfbf;color: #424448!important; }
.panel-default > .bg-grey-6 {background-color: #b3b3b3;color: #424448!important; }
.panel-default > .bg-grey-7 {background-color: #a6a6a6;color: #fff!important; }
.panel-default > .bg-grey-8 {background-color: #999999;color: #fff!important; }
.panel-default > .bg-grey-9 {background-color: #8c8c8c;color: #fff!important; }
.panel-default > .bg-grey-10 {background-color: #808080;color: #fff!important; }
.panel-default > .bg-grey-11 {background-color: #737373;color: #fff!important; }
.panel-default > .bg-grey-12 {background-color: #595959;color: #fff!important; }
.panel-default > .bg-grey-13 {background-color: #4d4d4d;color: #fff!important; }
.panel-default > .bg-grey-14 {background-color: #404040;color: #fff!important; }
.panel-default > .bg-grey-15 {background-color: #333333;color: #fff!important; }
.panel-default > .bg-grey-16 {background-color: #262626;color: #fff!important; }
.panel-default > .bg-grey-17 {background-color: #1a1a1a;color: #fff!important; }
.panel-default > .bg-grey-18 {background-color: #0d0d0d;color: #fff!important; }
.panel-default > .bg-grey-19 {background-color: #000000;color: #fff!important; }
/************** Background  LIGHT GREY Color ***********************/
.panel-default > .bg-light-grey-1 {background-color: #f0f3f5;color: #424448!important; }
.panel-default > .bg-light-grey-2 {background-color: #e1e7ea;color: #424448!important; }
.panel-default > .bg-light-grey-3 {background-color: #d2dbe0;color: #424448!important; }
.panel-default > .bg-light-grey-4 {background-color: #c3cfd5;color: #424448!important; }
.panel-default > .bg-light-grey-5 {background-color: #b4c3cb;color: #424448!important; }
.panel-default > .bg-light-grey-6 {background-color: #a5b7c0;color: #fff!important; }
.panel-default > .bg-light-grey-7 {background-color: #96abb6;color: #fff!important; }
.panel-default > .bg-light-grey-8 {background-color: #879fab;color: #fff!important; }
.panel-default > .bg-light-grey-9 {background-color: #7893a1;color: #fff!important; }
.panel-default > .bg-light-grey-10 {background-color: #698796;color: #fff!important; }
.panel-default > .bg-light-grey-11 {background-color: #607d8b;color: #fff!important; }
.panel-default > .bg-light-grey-12 {background-color: #5e7a87;color: #fff!important; }
.panel-default > .bg-light-grey-13 {background-color: #546c78;color: #fff!important; }
.panel-default > .bg-light-grey-14 {background-color: #495f69;color: #fff!important; }
.panel-default > .bg-light-grey-15 {background-color: #3f515a;color: #fff!important; }
.panel-default > .bg-light-grey-16 {background-color: #34444b;color: #fff!important; }
.panel-default > .bg-light-grey-17 {background-color: #2a363c;color: #fff!important; }
.panel-default > .bg-light-grey-18 {background-color: #1f292d;color: #fff!important; }
.panel-default > .bg-light-grey-19 {background-color: #151b1e;color: #fff!important; }


/************** Background  blue Color ***********************/
.panel-default > .bg-blue-1 {background-color: #e7f3fe;color: #424448!important; }
.panel-default > .bg-blue-2 {background-color: #cfe8fc;color: #424448!important; }
.panel-default > .bg-blue-3 {background-color: #b6dcfb;color: #424448!important; }
.panel-default > .bg-blue-4 {background-color: #9ed1fa;color: #fff!important; }
.panel-default > .bg-blue-5 {background-color: #86c5f9;color: #fff!important; }
.panel-default > .bg-blue-6 {background-color: #6eb9f7;color: #fff!important; }
.panel-default > .bg-blue-7 {background-color: #55aef6;color: #fff!important; }
.panel-default > .bg-blue-8 {background-color: #3da2f5;color: #fff!important; }
.panel-default > .bg-blue-9 {background-color: #2597f4;color: #fff!important; }
.panel-default > .bg-blue-10 {background-color: #2196f3;color: #fff!important; }
.panel-default > .bg-blue-11 {background-color: #0d8bf2;color: #fff!important; }
.panel-default > .bg-blue-12 {background-color: #0b7dda;color: #fff!important; }
.panel-default > .bg-blue-13 {background-color: #0a6fc2;color: #fff!important; }
.panel-default > .bg-blue-14 {background-color: #0961aa;color: #fff!important; }
.panel-default > .bg-blue-15 {background-color: #085391;color: #fff!important; }
.panel-default > .bg-blue-16 {background-color: #064579;color: #fff!important; }
.panel-default > .bg-blue-17 {background-color: #053861;color: #fff!important; }
.panel-default > .bg-blue-18 {background-color: #042a49;color: #fff!important; }
.panel-default > .bg-blue-19 {background-color: #031c30;color: #fff!important; }

/************** Background  Orange Color ***********************/
.panel-default > .bg-orange-1 {background-color: #ffebe6;color: #424448!important; }
.panel-default > .bg-orange-2 {background-color: #ffd8cc;color: #424448!important; }
.panel-default > .bg-orange-3 {background-color: #ffc4b3;color: #424448!important; }
.panel-default > .bg-orange-4 {background-color: #ffb199;color: #fff!important; }
.panel-default > .bg-orange-5 {background-color: #ff9d80;color: #fff!important; }
.panel-default > .bg-orange-6 {background-color: #ff8a66;color: #fff!important; }
.panel-default > .bg-orange-7 {background-color: #ff764d;color: #fff!important; }
.panel-default > .bg-orange-8 {background-color: #ff6333;color: #fff!important; }
.panel-default > .bg-orange-9 {background-color: #ff5722;color: #fff!important; }
.panel-default > .bg-orange-10 {background-color: #ff4f1a;color: #fff!important; }
.panel-default > .bg-orange-11 {background-color: #ff3c00;color: #fff!important; }
.panel-default > .bg-orange-12 {background-color: #e63600;color: #fff!important; }
.panel-default > .bg-orange-13 {background-color: #cc3000;color: #fff!important; }
.panel-default > .bg-orange-14 {background-color: #b32a00;color: #fff!important; }
.panel-default > .bg-orange-15 {background-color: #992400;color: #fff!important; }
.panel-default > .bg-orange-16 {background-color: #801e00;color: #fff!important; }
.panel-default > .bg-orange-17 {background-color: #661800;color: #fff!important; }
.panel-default > .bg-orange-18 {background-color: #4d1200;color: #fff!important; }
.panel-default > .bg-orange-19 {background-color: #330c00;color: #fff!important; }

/************** Background  AMBER Color ***********************/
.panel-default > .bg-amber-1 {background-color: #fff9e6;color: #424448!important; }
.panel-default > .bg-amber-2 {background-color: #fff2cc;color: #424448!important; }
.panel-default > .bg-amber-3 {background-color: #ffecb3;color: #424448!important; }
.panel-default > .bg-amber-4 {background-color: #ffe699;color: #424448!important; }
.panel-default > .bg-amber-5 {background-color: #ffdf80;color: #424448!important; }
.panel-default > .bg-amber-6 {background-color: #ffd966;color: #424448!important; }
.panel-default > .bg-amber-7 {background-color: #ffd24d;color: #424448!important; }
.panel-default > .bg-amber-8 {background-color: #ffcc33;color: #fff!important; }
.panel-default > .bg-amber-9 {background-color: #ffc61a;color: #fff!important; }
.panel-default > .bg-amber-10 {background-color: #ffc107;color: #fff!important; }
.panel-default > .bg-amber-11 {background-color: #ffbf00;color: #fff!important; }
.panel-default > .bg-amber-12 {background-color: #e6ac00;color: #fff!important; }
.panel-default > .bg-amber-13 {background-color: #cc9900;color: #fff!important; }
.panel-default > .bg-amber-14 {background-color: #b38600;color: #fff!important; }
.panel-default > .bg-amber-15 {background-color: #997300;color: #fff!important; }
.panel-default > .bg-amber-16 {background-color: #806000;color: #fff!important; }
.panel-default > .bg-amber-17 {background-color: #664d00;color: #fff!important; }
.panel-default > .bg-amber-18 {background-color: #4d3900;color: #fff!important; }
.panel-default > .bg-amber-19 {background-color: #332600;color: #fff!important; }

/************** Background  GREEN Color ***********************/
.panel-default > .bg-green-1 {background-color: #edf7ee;color: #424448!important; }
.panel-default > .bg-green-2 {background-color: #dcefdc;color: #424448!important; }
.panel-default > .bg-green-3 {background-color: #cae8cb;color: #424448!important; }
.panel-default > .bg-green-4 {background-color: #b8e0b9;color: #424448!important; }
.panel-default > .bg-green-5 {background-color: #a6d8a8;color: #424448!important; }
.panel-default > .bg-green-6 {background-color: #95d097;color: #424448!important; }
.panel-default > .bg-green-7 {background-color: #a6d8a8;color: #424448!important; }
.panel-default > .bg-green-8 {background-color: #83c985;color: #fff!important; }
.panel-default > .bg-green-9 {background-color: #71c174;color: #fff!important; }
.panel-default > .bg-green-10 {background-color: #5fb962;color: #fff!important; }
.panel-default > .bg-green-11 {background-color: #4eb151;color: #fff!important; }
.panel-default > .bg-green-12 {background-color: #4caf50;color: #fff!important; }
.panel-default > .bg-green-13 {background-color: #46a049;color: #fff!important; }
.panel-default > .bg-green-14 {background-color: #3e8e41;color: #fff!important; }
.panel-default > .bg-green-15 {background-color: #367c39;color: #fff!important; }
.panel-default > .bg-green-16 {background-color: #2f6a31;color: #fff!important; }
.panel-default > .bg-green-17 {background-color: #275929;color: #fff!important; }
.panel-default > .bg-green-18 {background-color: #1f4720;color: #fff!important; }
.panel-default > .bg-green-19 {background-color: #173518;color: #fff!important; }
